/*Importing the google font*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wdth,wght@75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins" , sans-serif;
}
